<h1>Editar variacion</h1>

<%= render "form", variation: @variation, material: @material %>

<br>

<div>
  <%= button_to 'Regresar a variaciones', material_variations_path(@material), method: :get %>
</div>
