<h1>Editar variacion</h1>

<%= render "form", variation: @variation, material: @material %>

<br>

<div>
  <%= link_to "Mostrar esta variacion", [@material, @variation] %> |
  <%= link_to "Regresar a variaciones", material_variations_path(@material) %>
</div>
