<h1>Editar datos personales</h1>

<%= render "form", personal_detail: @personal_detail, user: @user %>

<br>

<div>
  <%= link_to "Mostrar mis datos personales", [@user, @personal_detail] %> |
  <%= link_to "Regresar a Datos personales", user_personal_details_path %>
</div>
