<p style="color: green"><%= notice %></p>

<h1>Datos personales</h1>

<div id="personal_details">
  <% @personal_details.each do |personal_detail| %>
    <%= render personal_detail %>
    <p>
      <%= link_to "Mostrar datos personales", [@user, personal_detail] %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevos datos personales", new_user_personal_detail_path %>
