<h1>Nuevos datos personales</h1>

<%= render "form", personal_detail: @personal_detail, user: @user %>

<br>

<div>
  <%= link_to "Regresar a datos personales", user_personal_details_path(@user) %>
</div>
