<div>
<%
=begin%>
 
    <div>
        <%= image_tag('carousel/horario_entrega.jpg')%>
    </div>
 
<%
=end%>

    <div >
        <% unless user_signed_in? %>
            <h2 >PARA USAR ESTA APLICACION DEBES SER UN USUARIO AUTORIZADO Y AUTENTICADO</h2>
            <div >
                <div > 
                    <h4> Eres usuario registrado? </h4>
                    <%= button_to "Ingresar", new_user_session_path, method: :get, class: "btn-large " %>
                </div>
                <div >
                    <h4 > No estas registrado? </h4>
                    <%= button_to "Registrarse", new_user_registration_path, method: :get, class: "btn-large " %>
                </div>
            </div> 
        <% end %>
    </div>
</div>
