<h1>Editar orden</h1>

<%= render "form", order: @order, user: @user %>

<br>

<div>
  <%= link_to "Mostrar esta orden", [@user, @order] %> |
  <%= link_to "Regresar a ordenes", user_orders_path %>
</div>
