<h1>Editing category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Mostrar esta categoria", @category %> |
  <%= link_to "Regresar a categorias", categories_path %>
</div>
