<h1>Editar material</h1>

<%= render "form", material: @material, category: @category %>

<br>

<div>
  <%= link_to "Mostrar material", [@category, @material] %> |
  <%= link_to "Regresar a materiales", category_materials_path(@category) %> |

  
</div>
