<h1>Nuevo Material</h1>

<%= render "form", material: @material, category: @category %>

<br>

<div>
  <%= button_to 'Regresar a materiales', category_materials_path(@category), method: :get %>
</div>
